/target/
src/main/java/rpl/barbelq/LoginController.java
src/main/resources/fxml/PrimaryHome.fxml
.vscode/settings.json
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
.classpath
